.form-write {
    color: #fff;
    margin: 0 0 50px 0;
    font-size: 20px;
    text-align: center;
}

.form-write {
    font-size: 15px;
    line-height: 30px;
    margin: 0px 0 60px 0;
    color: #ffffff;
    display: block;
}

.form-image {
    background-image: url("../images/bg-form.png");
    background-size: cover;
    background-position: center;
}

.forma {
    display: block;
    width: 600px;
    height: 1000px;
    background: #ffffff;
    margin: 0 auto;
}

.title-form {
    color: black;
    margin: 147px 0 50px 0;
    font-size: 40px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: bold;
}

p {
    padding-top: 68px;
    text-align: center;
    font-size: 16px;
    line-height: 12px;
    color: #919193;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.contacts-form__input {
    height: 40px;
    font-size: 16px;
    color: black;
    background: transparent;
    border: none;
    border-bottom: 1px solid #e3e3e3;
    outline: none;
    padding: 0 10px 0 0;
    margin: 0 0 20px 0;
    width: 400px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}


.contacts-form__input:hover {
    height: 40px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: black;
    background: transparent;
    border: none;
    border-bottom: 1px solid #aa50c8;
    outline: none;
    padding: 0 10px 0 0;
    margin: 0 0 30px 0;
    width: 400px;
}


.input_string {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 660px;
    padding-top: 62px;
}

.title-input-text {
    color: black;
    margin: 0;
    padding: 0;
    float: left;
}

textarea {
    font-size: 16px;
    line-height: inherit;
    overflow: auto;
    margin-bottom: 60px;
    margin-top: 20px;
    width: 400px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: black;
}

textarea:hover {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    overflow: auto;
    margin-bottom: 60px;
    margin-top: 20px;
    width: 400px;
    border: 1px solid #e3e3e3;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}


.btn-btn:hover {

    background-color: #6a1686;
}


.btn-btn {
    width: 250px;
    background-color: #9524ba;
    height: 70px;
    outline: none;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    display: inline-block;
    margin-top: -20px;
    display: block;
    margin: 0 auto;
    text-align: center;
    border: none;
}


.header_menu {
    position: fixed;
    background: #000;
    display: block;
    height: 74px;
    width: 100%;
    z-index: 50;
}

a:focus,
a:hover {
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 600px){
    .open_window{
        margin-top: 26px;
    }
	
.title-form{
	width: 600px;
}
    .forma {
    display: block;
    max-width: 420px;
    height: 1000px;
    background: #ffffff;
    margin: 0 auto;
}

p {
    padding-top: 0px;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    color: #919193;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.input_string {
    display: block;
    /* margin: 0 auto; */
    width: 290px;
    height: 660px;
    padding-top: 62px;
    
}

.btn-btn{
		width: 200px;
	background-color: #9524ba;
	height: 70px;
	outline: none;
	color: #fff;
	font-size: 20px;
	text-decoration: none;
	display: inline-block;
	margin-top: -20px;
	text-align: center;
	border: none;
	margin-left: 15%;
	display: block;
	margin: auto;
}


.contacts-form__input{
     height: 40px;
    font-size: 12px;
    color: black;
    background: transparent;
    border: none;
    border-bottom: 1px solid #e3e3e3;
    outline: none;
    padding: 0 10px 0 0;
    margin: 0 0 20px 0;
    width: 315px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.contacts-form__input:hover {
    height: 40px;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: black;
    background: transparent;
    border: none;
    border-bottom: 1px solid #aa50c8;
    outline: none;
    padding: 0 10px 0 0;
    margin: 0 0 30px 0;
    width: 315px;
}

textarea{
	width: 315px !important;
}

}

@media screen and (max-width: 500px){
	.title-form{
		width: 425px;
}

@media screen and (max-width: 400px){
    .title-form {
    color: black;
    margin: 147px 0 50px 0;
    font-size: 40px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: bold;
    width: 400px;
}

.btn-btn{
	margin-top: 80px;
}
}


