       @font-face {
           font-family: "San Francisco";
           font-weight: 400;
           src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
       }

       @font-face {
           font-family: "SF Display";
           font-weight: 900;
           src: url("https://sf.abarba.me/SF-UI-Display-Black.otf");
       }


       @font-face {
           font-family: "SF Display";
           font-weight: 700;
           src: url("https://sf.abarba.me/SF-UI-Display-Bold.otf");
       }

       @font-face {
           font-family: "SF Display";
           font-weight: 800;
           src: url("https://sf.abarba.me/SF-UI-Display-Heavy.otf");
       }


       @font-face {
           font-family: "SF Display";
           font-weight: 200;
           src: url("https://sf.abarba.me/SF-UI-Display-Light.otf");
       }


       @font-face {
           font-family: "SF Display";
           font-weight: 500;
           src: url("https://sf.abarba.me/SF-UI-Display-Medium.otf");
       }


       @font-face {
           font-family: "SF Display";
           font-weight: 400;
           src: url("https://sf.abarba.me/SF-UI-Display-Regular.otf");
       }


       @font-face {
           font-family: "SF Display";
           font-weight: 600;
           src: url("https://sf.abarba.me/SF-UI-Display-Semibold.otf");
       }


       @font-face {
           font-family: "SF Display";
           font-weight: 300;
           src: url("https://sf.abarba.me/SF-UI-Display-Thin.otf");
       }

       @font-face {
           font-family: "SF Display";
           font-weight: 100;
           src: url("https://sf.abarba.me/SF-UI-Display-Ultralight.otf");
       }


       @font-face {
           font-family: "SF Text";
           font-weight: 700;
           src: url("https://sf.abarba.me/SF-UI-Text-Bold.otf ");
       }


       @font-face {
           font-family: "SF Text";
           font-weight: 700;
           font-style: italic;
           src: url("https://sf.abarba.me/SF-UI-Text-BoldItalic.otf");
       }


       @font-face {
           font-family: "SF Text";
           font-weight: 800;
           src: url("https://sf.abarba.me/SF-UI-Text-Heavy.otf");
       }

       @font-face {
           font-family: "SF Text";
           font-weight: 800;
           font-style: italic;
           src: url("https://sf.abarba.me/SF-UI-Text-HeavyItalic.otf ");
       }

       @font-face {
           font-family: "SF Text";
           font-weight: 200;
           src: url("https://sf.abarba.me/SF-UI-Text-Light.otf");
       }


       @font-face {
           font-family: "SF Text";
           font-weight: 200;
           font-style: italic;
           src: url("https://sf.abarba.me/SF-UI-Text-HeavyItalic.otf");
       }


       @font-face {
           font-family: "SF Text";
           font-weight: 500;
           src: url("https://sf.abarba.me/SF-UI-Text-Medium.otf");
       }

       @font-face {
           font-family: "SF Text";
           font-weight: 500;
           font-style: italic;
           src: url("https://sf.abarba.me/SF-UI-Text-MediumItalic.otf");
       }


       @font-face {
           font-family: "SF Text";
           font-weight: 400;
           src: url("https://sf.abarba.me/SF-UI-Text-Regular.otf");
       }


       @font-face {
           font-family: "SF Text";
           font-weight: 400;
           font-style: italic;
           src: url("https://sf.abarba.me/SF-UI-Text-RegularItalic.otf");
       }

       @font-face {
           font-family: "SF Text";
           font-weight: 600;
           src: url("https://sf.abarba.me/SF-UI-Text-Semibold.otf");
       }


       @font-face {
           font-family: "SF Text";
           font-weight: 600;
           font-style: italic;
           src: url("https://sf.abarba.me/SF-UI-Text-SemiboldItalic.otf");
       }


       @font-face {
           font-family: "SF Text";
           font-weight: 100;
           src: url("https://sf.abarba.me/SF-UI-Text-Ultrathin.otf");
       }

       @font-face {
           font-family: "SF Text";
           font-weight: 100;
           font-style: italic;
           src: url("https://sf.abarba.me/SF-UI-Text-UltrathinItalic.otf");
       }



       @font-face {
           font-family: "SF Mono";
           font-weight: 700;
           src: url("https://sf.abarba.me/SFMono-Bold.otf");
       }

       @font-face {
           font-family: "SF Mono";
           font-weight: 700;
           font-style: italic;
           src: url("https://sf.abarba.me/SFMono-BoldItalic.otf");
       }


       @font-face {
           font-family: "SF Mono";
           font-weight: 800;
           src: url("https://sf.abarba.me/SFMono-Heavy.otf");
       }


       @font-face {
           font-family: "SF Mono";
           font-weight: 800;
           font-style: italic;
           src: url("https://sf.abarba.me/SFMono-HeavyItalic.otf");
       }


       @font-face {
           font-family: "SF Mono";
           font-weight: 200;
           src: url("https://sf.abarba.me/SFMono-Light.otf");
       }

       @font-face {
           font-family: "SF Mono";
           font-weight: 200;
           font-style: italic;
           src: url("https://sf.abarba.me/SFMono-HeavyItalic.otf");
       }


       @font-face {
           font-family: "SF Mono";
           font-weight: 500;
           src: url("https://sf.abarba.me/SFMono-Medium.otf");
       }


       @font-face {
           font-family: "SF Mono";
           font-weight: 500;
           font-style: italic;
           src: url("https://sf.abarba.me/SFMono-MediumItalic.otf");
       }


       @font-face {
           font-family: "SF Mono";
           font-weight: 400;
           src: url("https://sf.abarba.me/SFMono-Regular.otf");
       }


       @font-face {
           font-family: "SF Mono";
           font-weight: 400;
           font-style: italic;
           src: url("https://sf.abarba.me/SFMono-RegularItalic.otf");
       }


       @font-face {
           font-family: "SF Mono";
           font-weight: 600;
           src: url("https://sf.abarba.me/SFMono-Semibold.otf");
       }


       @font-face {
           font-family: "SF Mono";
           font-weight: 600;
           font-style: italic;
           src: url("https://sf.abarba.me/SFMono-SemiboldItalic.otf");
       }


       .container {
           width: 100%;
           max-width: 1170px;
           margin: 0 auto;
           position: relative;
       }

       .header {
           background-image: url("../images/Background_Main.png");
           background-size: cover;
           width: 100%;
           position: relative;
       }

       .row {
           margin-right: 0px !important;
           margin-left: 0px !important;
       }

       .header-menu {
           position: fixed;
           background: transparent;
           display: block;
           height: 74px;
           width: 100%;
           z-index: 50;
       }


       #go-top {
           position: fixed;
           bottom: 25px;
           right: 10px;
           cursor: pointer;
           display: none;
           width: 50px;
           height: 50px;
           background: #c0c0c0;
           font-size: 26px;
           border-radius: 50%;
           color: white;
           text-decoration: none;
           z-index: 100;
           padding-left: 18px;
           padding-right: 18px;
           margin-right: 25px;
       }

       #go-top:hover {
           background: #333;
       }



       .bg-white {
           background: rgba(40, 40, 40, 1);
           transition: all 0.3s;
           z-index: 100;
       }


       .header-block {
           position: relative;
           display: block;
           padding-top: 110px;
           height: 100vh;
       }

       #mainNav {
           position: relative;
       }

       .main-title {
           font-size: 60px;
           margin-bottom: 0px;
       }

       .footer {
           background-color: rgba(40, 40, 40, 1);
       }

       .social-links {
           display: block;
           position: relative;
           width: 240px;
           height: 80px;
           margin: 0 auto;
           padding-top: 5px;
       }

       .copyright {
           display: inline-block;
       }

       .footer-social-link {
           display: inline-block;
           float: left;
           margin: 20px 13px 20px 13px;
       }

       .btn,
       .navbar-default,
       .navbar-default .navbar-header .navbar-brand {
           font-family: 'OpenSans-Semibold', 'Helvetica Neue', Arial, sans-serif
       }

       hr {
           border-color: #fa6707;
           border-width: 3px;
           max-width: 50px
       }

       hr.light {
           border-color: #fff
       }

       a {
           transition: all .35s;
           color: #fa6707
       }

       a:focus,
       a:hover {
           color: #eb3812
       }

       p {
           font-size: 18px;
           line-height: 30px;
           margin-bottom: 20px;
           text-align: center;
       }

       .bg-primary {
           background-color: #fa6707
       }

       .bg-dark {
           background-color: #222;
           color: #fff
       }

       .menu-item a {
           font-size: 20px;
       }

       .text-faded {
           color: rgba(255, 255, 255, .7)
       }

       section {
           padding: 100px 0
       }

       aside {
           padding: 50px 0
       }

       .no-padding {
           padding: 0
       }

       .navbar-default {
           background-color: transparent;
           border-color: rgba(34, 34, 34, .05);
           transition: all .35s
       }

       .btn-default,
       .portfolio-box .portfolio-box-caption {
           -webkit-transition: all .35s;
           -moz-transition: all .35s
       }

       .navbar-default .navbar-header .navbar-brand {
           color: #fa6707;
           font-weight: 700;
           text-transform: uppercase
       }

       .navbar-default .navbar-header .navbar-brand:focus,
       .navbar-default .navbar-header .navbar-brand:hover {
           color: #eb3812
       }

       .navbar-default .navbar-header .navbar-toggle {
           font-weight: 700;
           font-size: 12px;
           color: #fff;
           text-transform: uppercase;
           background-color: transparent;
           border-color: transparent;
       }

       .navbar-default .nav>li>a,
       .navbar-default .nav>li>a:focus {
           font-weight: 700;
           font-size: 14px;
           color: #9524ba;
       }

       .navbar-default .nav>li>a:focus:hover,
       .navbar-default .nav>li>a:hover {
           color: #9524ba;
       }

       .navbar-default .nav>li.active>a,
       .navbar-default .nav>li.active>a:focus {
           color: #9524ba !important;
           background-color: transparent
       }

       .navbar-default .nav>li.active>a:focus:hover,
       .navbar-default .nav>li.active>a:hover {
           background-color: transparent
       }

       @media (min-width:768px) {
           .navbar-default {
               background-color: transparent;
               border-color: transparent;
           }
           .navbar-default .navbar-header .navbar-brand {
               color: rgba(255, 255, 255, .7)
           }
           .navbar-default .navbar-header .navbar-brand:focus,
           .navbar-default .navbar-header .navbar-brand:hover {
               color: #fff
           }
           .navbar-default .nav>li>a,
           .navbar-default .nav>li>a:focus {
               color: rgba(255, 255, 255, 1)
           }
           .navbar-default .nav>li>a:focus:hover,
           .navbar-default .nav>li>a:hover {
               color: #fff
           }
           .navbar-default.affix {
               background-color: transparent;
               border-color: transparent;
           }
           .navbar-default.affix .navbar-header .navbar-brand {
               color: #fa6707;
               font-size: 14px
           }
           .navbar-default.affix .navbar-header .navbar-brand:focus,
           .navbar-default.affix .navbar-header .navbar-brand:hover {
               color: #eb3812
           }
           .navbar-default.affix .nav>li>a,
           .navbar-default.affix .nav>li>a:focus {
               color: #fff;
           }
           .navbar-default.affix .nav>li>a:focus:hover,
           .navbar-default.affix .nav>li>a:hover {
               color: #9524ba;
           }
       }

       header {
           min-height: auto;
           -webkit-background-size: cover;
           -moz-background-size: cover;
           background-size: cover;
           -o-background-size: cover;
           background-position: center;
           background-image: url(../img/header.jpg);
           color: #fff
       }

       header .header-content {
           padding: 100px 15px
       }

       header .header-content .header-content-inner h1 {
           font-weight: 700;
           text-transform: uppercase;
           margin-top: 0;
           margin-bottom: 0;
           font-size: 30px
       }

       header .header-content .header-content-inner hr {
           margin: 30px auto
       }

       header .header-content .header-content-inner p {
           font-weight: 300;
           color: rgba(255, 255, 255, .7);
           font-size: 16px;
           margin-bottom: 50px
       }

       @media (min-width:768px) {
           header {
               min-height: 100%
           }
           header .header-content {
               position: absolute;
               top: 56%;
               -webkit-transform: translateY(-50%);
               -ms-transform: translateY(-50%);
               transform: translateY(-50%);
               padding: 0 50px
           }
           header .header-content .header-content-inner {
               max-width: 1000px;
               margin-left: auto;
               margin-right: auto
           }
           header .header-content .header-content-inner h1 {
               font-size: 50px
           }
           header .header-content .header-content-inner p {
               font-size: 18px;
               max-width: 80%;
               margin-left: auto;
               margin-right: auto
           }
       }

       .section-heading {
           margin-top: 0
       }

       .service-box {
           max-width: 400px;
           margin: 50px auto 0
       }

       @media (min-width:992px) {
           .service-box {
               margin: 20px auto 0
           }
       }

       .service-box p {
           margin-bottom: 0
       }

       .portfolio-box {
           position: relative;
           display: block;
           max-width: 650px;
           margin: 0 auto
       }

       .portfolio-box .portfolio-box-caption {
           color: #fff;
           opacity: 0;
           display: block;
           background: rgba(240, 95, 64, .9);
           position: absolute;
           bottom: 0;
           text-align: center;
           width: 100%;
           height: 100%;
           transition: all .35s
       }

       .btn-default.active,
       .btn-default:active,
       .btn-primary.active,
       .btn-primary:active,
       .open>.dropdown-toggle.btn-default,
       .open>.dropdown-toggle.btn-primary {
           background-image: none
       }

       .portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
           width: 100%;
           text-align: center;
           position: absolute;
           top: 50%;
           transform: translateY(-50%)
       }

       .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
       .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
           font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
           padding: 0 15px
       }

       .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
           text-transform: uppercase;
           font-weight: 600;
           font-size: 14px
       }

       .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
           font-size: 18px
       }

       .portfolio-box:hover .portfolio-box-caption {
           opacity: 1
       }

       .portfolio-box:focus {
           outline: 0
       }

       @media (min-width:768px) {
           .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
               font-size: 16px
           }
           .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
               font-size: 22px
           }
       }

       .call-to-action h2 {
           margin: 0 auto 20px
       }

       .text-primary {
           color: #fa6707
       }

       .no-gutter>[class*=col-] {
           padding-right: 0;
           padding-left: 0
       }

       .btn-default {
           color: #222;
           background-color: #fff;
           border-color: #fff;
           transition: all .35s
       }

       .btn-default.active,
       .btn-default.focus,
       .btn-default:active,
       .btn-default:focus,
       .btn-default:hover,
       .open>.dropdown-toggle.btn-default {
           color: #222;
           background-color: #f2f2f2;
           border-color: #ededed
       }

       .btn-default.disabled,
       .btn-default.disabled.active,
       .btn-default.disabled.focus,
       .btn-default.disabled:active,
       .btn-default.disabled:focus,
       .btn-default.disabled:hover,
       .btn-default[disabled],
       .btn-default[disabled].active,
       .btn-default[disabled].focus,
       .btn-default[disabled]:active,
       .btn-default[disabled]:focus,
       .btn-default[disabled]:hover,
       fieldset[disabled] .btn-default,
       fieldset[disabled] .btn-default.active,
       fieldset[disabled] .btn-default.focus,
       fieldset[disabled] .btn-default:active,
       fieldset[disabled] .btn-default:focus,
       fieldset[disabled] .btn-default:hover {
           background-color: #fff;
           border-color: #fff
       }

       .btn-default .badge {
           color: #fff;
           background-color: #222
       }

       .btn-primary {
           color: #fff;
           background-color: #fa6707;
           border-color: #fa6707;
           -webkit-transition: all .35s;
           -moz-transition: all .35s;
           transition: all .35s
       }

       .btn-primary.active,
       .btn-primary.focus,
       .btn-primary:active,
       .btn-primary:focus,
       .btn-primary:hover,
       .open>.dropdown-toggle.btn-primary {
           color: #fff;
           background-color: #ee4b28;
           border-color: #ed431f
       }

       .btn-primary.disabled,
       .btn-primary.disabled.active,
       .btn-primary.disabled.focus,
       .btn-primary.disabled:active,
       .btn-primary.disabled:focus,
       .btn-primary.disabled:hover,
       .btn-primary[disabled],
       .btn-primary[disabled].active,
       .btn-primary[disabled].focus,
       .btn-primary[disabled]:active,
       .btn-primary[disabled]:focus,
       .btn-primary[disabled]:hover,
       fieldset[disabled] .btn-primary,
       fieldset[disabled] .btn-primary.active,
       fieldset[disabled] .btn-primary.focus,
       fieldset[disabled] .btn-primary:active,
       fieldset[disabled] .btn-primary:focus,
       fieldset[disabled] .btn-primary:hover {
           background-color: #fa6707;
           border-color: #fa6707
       }

       .btn-primary .badge {
           color: #fa6707;
           background-color: #fff
       }

       .btn {
           border: none;
           border-radius: 300px;
           font-weight: 700;
           text-transform: uppercase
       }

       .btn-xl {
           padding: 15px 30px
       }

        ::-moz-selection {
           color: #fff;
           text-shadow: none;
           background: #222
       }

        ::selection {
           color: #fff;
           text-shadow: none;
           background: #222
       }

       img::selection {
           color: #fff;
           background: 0 0
       }

       img::-moz-selection {
           color: #fff;
           background: 0 0
       }

       body {
           font-family: -apple-system, BlinkMacSystemFont, sans-serif;
           font-weight: 400;
           font-size: 16px;
           line-height: 1.7;
           color: #7f7f7f;
           background: #fff;
           height: 100%;
           position: relative;
          
       }

       .logo {
           display: block;
           width: 150px;
           height: auto;
       }

       .overlay {
           background-color: rgba(0, 0, 0, 0.7);
           bottom: 0;
           left: 0;
           opacity: 0;
           position: fixed;
           right: 0;
           top: 0;
           visibility: hidden;
           z-index: 99999;
           -webkit-transition: opacity .5s;
           -moz-transition: opacity .5s;
           -ms-transition: opacity .5s;
           -o-transition: opacity .5s;
           transition: opacity .5s;
           color: #929292;
       }

       .popup {
           background-color: #fff;
           display: inline-block;
           left: 50%;
           opacity: 0;
           padding: 15px;
           width: 600px;
           height: 323px;
           position: fixed;
           text-align: justify;
           top: 40%;
           visibility: hidden;
           z-index: 999999;
           -webkit-transform: translate(-50%, -50%);
           -moz-transform: translate(-50%, -50%);
           -ms-transform: translate(-50%, -50%);
           -o-transform: translate(-50%, -50%);
           transform: translate(-50%, -50%);
           -webkit-transition: opacity .5s, top .5s;
           -moz-transition: opacity .5s, top .5s;
           -ms-transition: opacity .5s, top .5s;
           -o-transition: opacity .5s, top .5s;
           transition: opacity .5s, top .5s;
           border-radius: 11px;
           color: #929292;
       }


       .content {
           width: 99%;
           height: 293px;
           background: #ededed;
           font-size: 45px;
           text-align: center;
           color: #929292;
           display: block;
           margin: 0 auto;
       }

       .textModal {
           position: absolute;
           top: 36%;
           left: 50%;
           margin-right: -50%;
           transform: translate(-50%, -50%);
           font-size: 20px;
       }

       .title-modal {
           text-align: left;
       }

       .close_window {
           cursor: pointer;
           float: right;
           padding-right: 10px;
       }


       .company-description-grey-2 {
           padding: 50px 0 0 0;
       }

       .company-description-white {
           padding: 75px 0 0 0;
       }

       .company-description-grey-1 {
           padding: 0;
       }

       .company-description-image {
           padding: 130px 0 60px 0;
       }

       .company-description-image {
           background-image: url("../images/banner_demo_background.png");
           background-size: cover;
           background-position: center;
       }

       .company-description-white {
           background-color: #fff;
           position: relative;
           z-index: 10;
           margin-bottom: 50px;
       }

       .company-description-grey-1 {
           background-color: #fff;
           position: relative;
           z-index: 10;
       }

       .company-description-grey-2 {
           background-image: url(../images/bg.png);
       }

       .section-title-black,
       .section-title-white {

           text-transform: uppercase;
           font-size: 28px;
           text-align: center;
           line-height: 34px;
       }

       .button-block {
           float: left;
           text-align: center;
       }


       .section-title-black {
           color: #ffffff;
           margin: 0 0 60px 0;
       }

       .section-title-white {
           color: #fff;
           margin: 0 0 60px 0;
       }

       .main-title {
           text-align: center;
           line-height: 80px;
           font-size: 86px;
           color: #fff;
           margin: 90px 0 25px 0;
           text-transform: uppercase;
           font-family: -apple-system, BlinkMacSystemFont, sans-serif;
           font-weight: bold;
       }

       .main-second-text {
           line-height: 26px;
           font-size: 20px;
           color: #f1f1f2;
           margin-top: 20px;
           margin-bottom: 70px;
           margin-left: 20%;
           margin-right: 20%;
           width: 60%;
           text-align: center;
           font-family: -apple-system, BlinkMacSystemFont, sans-serif;
       }

       .main-page-about-block {
           margin: 25px 0 0 0;
           text-align: center;
       }

       .main-page-about-item {
           color: #000;
           margin: 35px 0 0 0;
       }

       .ourClient-image {
            display: -webkit-flex;
           display: -ms-flexbox;
           display: flex;
           justify-content: space-evenly;
           align-items: center;
           flex-wrap: wrap;
           margin-top: 100px;
           margin-bottom: 150px;
       }


       .section-lifecell {
           width: 160px;
           height: 30px;
       }


       .section-Unroro {
           width: 160px;
           height: 30px;
       }

       .section-exzacibasi {
           width: 160px;
           height: 30px;
       }

       .section-silverline {
           width: 160px;
           height: 20px;
       }


       .lifecell {
           width: 160px;
           height: 30px;
           background: url(../images/client/lifecellC.png) no-repeat;
           filter: grayscale(100);
           opacity: 0.4;
           background-size: contain;
           background-size: contain;
       }

       .lifecell:hover {
           width: 160px;
           height: 30px;
           background: url(../images/client/lifecellC.png) no-repeat;
           filter: grayscale(0);
           background-size: contain;
           opacity: 1;
           background-size: contain;
       }

       .Unroro {
           width: 160px;
           height: 30px;
           background: url(../images/client/logo-unroro1.png) no-repeat;
           filter: grayscale(100);
           opacity: 0.4;
           background-size: contain;
       }

       .Unroro:hover {
           width: 160px;
           height: 30px;
           background: url(../images/client/logo-unroro1.png) no-repeat;
           filter: grayscale(0);
           opacity: 1;
           background-size: contain;
       }

       .kktcell {
           width: 160px;
           height: 30px;
           background: url(../images/client/kktcell.png) no-repeat;
           filter: grayscale(100);
           opacity: 0.4;
           background-size: contain;
       }

       .kktcell:hover {
           width: 160px;
           height: 30px;
           background: url(../images/client/kktcell.png) no-repeat;
           filter: grayscale(0);
           opacity: 1;
           background-size: contain;
       }


       .seramiksan {
           width: 160px;
           height: 30px;
           background: url(../images/client/seramiks.png) no-repeat;
           filter: grayscale(100);
           opacity: 0.4;
           background-size: contain;
       }

       .seramiksan:hover {
           width: 160px;
           height: 30px;
           background: url(../images/client/seramiks.png) no-repeat;
           filter: grayscale(0);
           opacity: 1;
           background-size: contain;
       }

       .exzacibasi {
           width: 160px;
           height: 25px;
           background: url(../images/client/ex1.png) no-repeat;
           filter: grayscale(100);
           opacity: 0.4;
           background-size: contain;
       }

       .exzacibasi:hover {
           width: 160px;
           height: 25px;
           background: url(../images/client/ex1.png) no-repeat;
           filter: grayscale(0);
           opacity: 1;
           background-size: contain;
       }


       .silverline {
           width: 160px;
           height: 16px;
           background: url(../images/client/silverline-color.png) no-repeat;
           filter: grayscale(100);
           opacity: 0.4;
           background-size: contain;
       }

       .silverline:hover {
           width: 160px;
           height: 16px;
           background: url(../images/client/silverline-color.png) no-repeat;
           filter: grayscale(0);
           opacity: 1;
           background-size: contain;
       }

       .main-page-about-item-title {
           color: #000;
           margin: 15px 0 30px 0;
           font-size: 24px;
           text-transform: uppercase;
           font-family: -apple-system, BlinkMacSystemFont, sans-serif;
           font-weight: bold;
       }

       .main-page-about-item-text {
           color: #4c4c4c;
           font-size: 15px;
           display: inline-block;
           max-width: 280px;
           font-family: -apple-system, BlinkMacSystemFont, sans-serif;
           width: 100%;
       }


       .page-scroll {
           font-family: -apple-system, BlinkMacSystemFont, sans-serif;
       }

       .item-line {
           margin: 30px 0 0 0;
       }

       .item-line-second {
           margin: 0 0 35px 0;
       }

       .description-grey-second-title {
           font-size: 20px;
           color: #000;
           margin: 70px 0 30px 0;
           text-transform: uppercase;
       }

       .description-grey-text,
       .description-white-text {
           font-size: 16px;
           margin: 0px 0 0px 0;
       }

       .description-grey-text {
           color: #646464;
           font-family: -apple-system, BlinkMacSystemFont, sans-serif;
       }

       .description-white-text {
           color: #fff;
           text-align: center;
           margin: -25px 0 55px 0;
       }

       .description-5-main-image {
           height: 100%;
           max-height: 490px;
           position: relative;
           margin: 0 0 40px 0;
           width: 100%;
       }

       .description-7-icon img {
           width: 102px height: 102px;
       }

       .description-7-item-text {
           margin: 20px 0 0 0;
           color: #000;
       }

       .animating-lines {
           padding: 20px 0 0 0;
           display: block;
           position: relative;
           width: 100%;
           margin-bottom: -100px;
       }

       .part-one,
       .part-two {
           display: block;
           margin: 0 auto;
           position: relative;
       }

       .part-one {
           width: 600px;
       }

       .part-two {
           width: 600px;
       }

       .sector1,
       .sector2 {
           width: 300px;
           position: relative;
           display: block;
           overflow: hidden;
           height: 140px;
           float: left;
           margin-bottom: 0px;
       }

       .circle1 {
           position: relative;
           width: 600px;
           -webkit-animation: spin1 30s linear infinite;
           -moz-animation: spin1 30s linear infinite;
           animation: spin1 30s linear infinite;
           bottom: 460px;
       }

       @-moz-keyframes spin1 {
           100% {
               -moz-transform: rotate(-360deg);
           }
       }

       @-webkit-keyframes spin1 {
           100% {
               -webkit-transform: rotate(-360deg);
           }
       }

       @keyframes spin1 {
           100% {
               -webkit-transform: rotate(-360deg);
               transform: rotate(-360deg);
           }
       }

       .circle2 {
           position: relative;
           width: 600px;
           -webkit-animation: spin2 30s linear infinite;
           -moz-animation: spin2 30s linear infinite;
           animation: spin2 30s linear infinite;
           bottom: 460px;
           right: 300px
       }

       @-moz-keyframes spin2 {
           100% {
               -moz-transform: rotate(360deg);
           }
       }

       @-webkit-keyframes spin2 {
           100% {
               -webkit-transform: rotate(360deg);
           }
       }

       @keyframes spin2 {
           100% {
               -webkit-transform: rotate(360deg);
               transform: rotate(360deg);
           }
       }

       .sector3,
       .sector4 {
           width: 300px;
           position: relative;
           display: block;
           overflow: hidden;
           height: 140px;
           float: left;
       }

       .circle3 {
           position: relative;
           width: 600px;
           -webkit-animation: spin3 30s linear infinite;
           -moz-animation: spin3 30s linear infinite;
           animation: spin3 30s linear infinite;
       }

       @-moz-keyframes spin3 {
           100% {
               -moz-transform: rotate(-360deg);
           }
       }

       @-webkit-keyframes spin3 {
           100% {
               -webkit-transform: rotate(-360deg);
           }
       }

       @keyframes spin3 {
           100% {
               -webkit-transform: rotate(-360deg);
               transform: rotate(-360deg);
           }
       }

       .circle4 {
           position: relative;
           width: 600px;
           -webkit-animation: spin4 30s linear infinite;
           -moz-animation: spin4 30s linear infinite;
           animation: spin4 30s linear infinite;
           right: 300px
       }

       @-moz-keyframes spin4 {
           100% {
               -moz-transform: rotate(360deg);
           }
       }

       @-webkit-keyframes spin4 {
           100% {
               -webkit-transform: rotate(360deg);
           }
       }

       @keyframes spin4 {
           100% {
               -webkit-transform: rotate(360deg);
               transform: rotate(360deg);
           }
       }


       .moving-line {
           background: url("../images/animate_icons/color.png") repeat-y;
           width: 22px;
           height: 300px;
           position: relative;
           display: block;
           margin: 0 auto;
           background-size: 100%;
       }

       .logo-icon {
           position: relative;
           display: block;
           margin: 0 auto;
           width: 170px;
           top: -240px;
       }

       .logo-icon img {
           position: relative;
           display: block;
           margin: 0 auto;
           width: 100%;
       }

       .description-7-second-title {
           margin: 80px 0 25px 0;
           color: #000;
           font-size: 20px;
           text-align: center;
           text-transform: uppercase;
           margin-bottom: 100px;
       }

       .description-7-second-text {
           color: #4c4c4c;
           text-align: center;
           margin: 80px 0 25px 0;
           font-family: -apple-system, BlinkMacSystemFont, sans-serif;
       }

       .footer-contacts {
           margin: 40px 0 0px 0;
       }

       .footer-block {
           display: block;
           margin: 0 auto;
           padding: 10px 0 10px 0;
           text-align: center;
       }

       .footer-copyright {
           background-color: #0a0a0a;
           display: block;
           position: relative;
           padding: 0 0 0 0;
       }

       .copyright {
           text-align: center;
           display: inline-block;
           width: 100%;
           margin: 27px 0 27px 0;
           color: #6f6f6f;
           font-family: -apple-system, BlinkMacSystemFont, sans-serif;
       }

       .contacts {
           color: #848383;
           text-align: center;
       }

       .contacts i,
       .contacts label {
           color: #e2e1e1;
       }

       .contacts label {
           font-family: OpenSans-Semibold;
       }

       .modal-dialog {
           width: 95%;
           max-width: 1170px;
       }

       .modal-header {
           border-bottom: none;
           padding: 5px 10px 5px 10px;
       }

       .modal-title {
           margin: 5px 15px 5px 15px;
           line-height: 1.42857143;
           text-align: center;
           color: #000;
           font-size: 22px;
           text-transform: uppercase;
       }

       .close {
           font-size: 36px;
           opacity: .4;
       }

       .modal-body img {
           width: 100%;
       }

       .modal-footer {
           padding: 0 15px 15px 15px;
           border-top: none;
       }

       .description-6-main-image {
           width: 100%;
           position: relative;
           cursor: pointer;
       }

       @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
  				.flex-block{
  					display: -ms-flexbox !important;
  					justify-content: flex-start !important;
  				}

  				.ourClient-image{
  					display: -ms-flexbox;
  					justify-content: space-around;
  				}

  				.header-button{
  					display: -ms-flexbox !important;
  					justify-content: flex-start !important;
  				}
}

       @media screen and (max-width: 1272px) {
           .main-title {
               font-size: 66px;
           }
       }

       @media screen and (max-width: 1072px) {
           .main-title {
               font-size: 56px;
           }

           .button-block {
               float: inherit;
               text-align: center;
           }

           .button-block {
               margin-bottom: 50px;
           }

           .section-title-black-grey-2 {
               font-size: 45px;
               line-height: 50px;
           }
       }

       @media screen and (max-width: 1016px) {
           .ourClient-image {
               flex-direction: column;
           }

           .seramiksan {
               margin-top: 30px;
               margin-right: 15px;
           }

           .kktcell {
               margin-top: 30px;
           }

           .lifecell {
               margin-top: 30px;
           }

           .Unroro {
               margin-top: 60px;
           }

           .exzacibasi {
               margin-top: 85px;
           }
       }

       @media screen and (max-width: 1005px) {
           .section-title-black-grey-2 {
               font-size: 45px !important;
               line-height: 45px !important;
           }
       }


       @media screen and (max-width: 875px) {
           .main-second-text {
               line-height: 26px;
               font-size: 20px;
               color: #f1f1f2;
               margin-top: 20px;
               margin-bottom: 70px;
               margin-left: 10%;
               margin-right: 10%;
               width: 80%;
               font-family: 'Myriad Pro';
           }
       }

       @media screen and (max-width: 792px) {
           .main-title {
               font-size: 42px;
           }

           .section-title-black-grey-2 {
               font-size: 30px !important;
               line-height: 40px !important;
           }
       }

       @media screen and (max-width: 778px) {
           .main-second-text {
               line-height: 26px;
               font-size: 20px;
               color: #f1f1f2;
               margin-top: 20px;
               margin-bottom: 70px;

               width: 80%;
               text-align: center;
               font-family: 'Myriad Pro';
           }
       }

       @media (max-width: 768px) {
           .in {
               background-color: rgb(255, 255, 255);
           }
           .header-block {
               padding-top: 80px;
           }

           .navbar-default .nav>li>a,
           .navbar-default .nav>li>a:focus {
               text-align: center;
           }

           .main-title {
               line-height: 28px;
               font-size: 22px;
               margin: 10px 0 35px 0;
           }

           .section-title-black,
           .section-title-white {
               font-size: 22px;
               line-height: 24px;
               color: #2a2a30;
           }

           .header-button {
               margin-bottom: 45px;
           }

           .header-details-button {
               width: 150px;
               height: 50px;
           }

           .description-grey-second-title {
               font-size: 16px;
               color: #000;
               margin: 40px 0 20px 0;
           }

           .description-white-text {
               margin: -25px 0 15px 0;
           }

           .mobile {
               display: show;
           }
           .desktop {
               display: none;
           }

           .company-description-white,
           .company-description-grey-1,
           .company-description-grey-2 {
               padding: 40px 0 30px 0;
           }

           .company-description-image {
               padding: 80px 0 80px 0;
           }
           .section-title-black {
               margin: 0 0 20px 0;
           }

           .description-grey-second-title {
               margin: 20px 0 20px 0;
           }
           .padding-right {
               padding-right: 15px;
           }
           .padding-left {
               padding-left: 15px;
           }

           .main-page-about-item {
               margin: 15px 0 0 0;
           }



           .description-7-second-title {
               margin: 30px 0 25px 0;
               font-size: 18px;
           }

           .description-7-item-text {
               font-size: 14px;
           }
           /* Moving element styles */
           .part-one {
               width: 280px;
           }
           .part-two {
               width: 280px;
           }

           .sector1,
           .sector2 {
               width: 140px;
               height: 50px;
               margin-bottom: 0px;
           }

           .circle1 {
               width: 280px;
               bottom: 230px;
           }


           .circle2 {
               width: 280px;
               bottom: 230px;
               right: 150px
           }

           .sector3,
           .sector4 {
               width: 140px;
               height: 50px;
           }

           .circle3 {
               width: 280px;
           }
           .circle4 {
               width: 280px;
               right: 150px
           }

           #parallax-header {
               margin-top: 30%;
           }
           /* End */
       }

       @media (min-width: 769px) and (max-width: 992px) {
           .description-grey-second-title {
               margin: 20px 0 30px 0;
           }
           .mobile {
               display: none;
           }
           .desktop {
               display: show;
           }

           .padding-right {
               padding-right: 0px;
           }
           .padding-left {
               padding-left: 0px;
           }
       }

       @media (min-width: 769px) and (max-width: 1200px) {
           .contacts-text {
               display: block;
               margin: -5px 0 0 0;
           }
       }

       @media (min-width: 993px) and (max-width: 1100px) {
           .description-grey-second-title {
               margin: 50px 0 30px 0;
           }
       }

       @media (min-width: 993px) and (max-width: 1200px) {
           .mobile {
               display: none;
           }
           .desktop {
               display: show;
           }

           .padding-right {
               padding-right: 0px;
           }
           .padding-left {
               padding-left: 0px;
           }
       }

       @media (min-width: 1201px) and (max-width: 1400px) {
           .mobile {
               display: none;
           }
           .desktop {
               display: show;
           }

           .padding-right {
               padding-right: 0px;
           }
           .padding-left {
               padding-left: 0px;
           }
       }

       @media (min-width: 1401px) {
           .mobile {
               display: none;
           }
           .desktop {
               display: show;
           }
           .padding-right {
               padding-right: 0px;
           }
           .padding-left {
               padding-left: 0px;
           }
       }

       #block-for-slider {
           width: 100%;
           margin: 0 auto;
           margin-top: 0px;
           font-family: 'SFUIDisplay';
       }

       #viewport {
           width: 100%;
           position: relative;
           overflow: hidden;
           -webkit-user-select: none;
           -moz-user-select: none;
           -ms-user-select: none;
           -o-user-select: none;
           user-select: none;
           text-align: center;
       }

       .flex {
        display: -webkit-flex;
  display: -ms-flexbox;
           display: flex;
           justify-content: space-between;
           flex-wrap: wrap;
           margin-top: 80px;
       }



       .description-mdm {
           color: #ffffff;
           text-align: justify;
           font-size: 20px;
           float: right;
           width: 630px;
           line-height: 30px;
           font-weight: 300;
           font-family: -apple-system, BlinkMacSystemFont, sans-serif;
       }

       .section-title-black-grey-2 {
           text-transform: uppercase;
           font-size: 56px;
           text-align: center;
           line-height: 70px;
           font-weight: bold;
           color: #ffffff;
           margin: 0 0 60px 0;
           font-family: -apple-system, BlinkMacSystemFont, sans-serif;
       }

       .section-title-white {
           text-transform: uppercase;
           font-size: 58px;
           text-align: center;
           line-height: 80px;
       }

       .section-title-white-try-demo {
           color: #fff;
           margin: 0 0 50px 0;
           font-size: 40px;
           text-align: center;
           font-family: -apple-system, BlinkMacSystemFont, sans-serif;
           font-weight: bold;
       }

       .description-white-text-try-demo {
           font-size: 20px;
           line-height: 30px;
           margin: 0px 0 60px 0;
           color: #ffffff;
           display: block;
           font-family: -apple-system, BlinkMacSystemFont, sans-serif;
       }

       .header-details-button-try {
           width: 250px;
           background: transparent;
           border: 1px solid #fff;
           height: 70px;
           outline: none;
           color: #fff;
           font-size: 20px;
           text-decoration: none;
           display: block;
           margin: 0 auto;
           display: inline-block;
           padding: 18px 0 0px 0;
           text-align: center;
       }

       .header-details-button-try:hover,
       .header-details-button-try:active,
       .header-details-button-try:focus {
           background-color: #9524ba;
           transition: background-color 0.5s;
           color: #fff;
           text-decoration: none;
           border: 0px;
       }

       .flex-block {
        display: -webkit-flex;
  display: -ms-flexbox;
           display: flex;
           justify-content: center;
           margin-bottom: 70px;
       }



       .section-title-black-4-block {
           color: #000000;
           text-transform: uppercase;
           font-size: 28px;
           text-align: center;
           line-height: 34px;
           margin-bottom: 80px;
       }


       .section-title-black-4-block-so {
           color: #000000;
           text-transform: uppercase;
           font-size: 40px;
           text-align: center;
           line-height: 34px;
           margin-bottom: 40px;
           font-family: -apple-system, BlinkMacSystemFont, sans-serif;
           font-weight: bold;
       }


       .section-title-black {
           color: #000000;
           margin: 35px 0 60px 0;
           font-size: 40px;
           line-height: 40px;
           font-family: -apple-system, BlinkMacSystemFont, sans-serif;
           font-weight: bold;
       }

       .section-title-black-companies {
           text-transform: uppercase;
           font-size: 40px;
           text-align: center;
           line-height: 34px;
           color: black;
           font-family: -apple-system, BlinkMacSystemFont, sans-serif;
           font-weight: bold;
       }

       .main-page-about-item-text-block-4 {
           color: #4c4c4c;
           font-size: 16px;
           display: inline-block;
           max-width: 280px;
           width: 100%;
           line-height: 24px;
           font-family: -apple-system, BlinkMacSystemFont, sans-serif;
       }

       .awesome-link {
           margin-top: 20px;
           display: flex;
           display: -webkit-flex;
  display: -ms-flexbox;
           justify-content: space-around;
           flex-wrap: wrap;
       }



       .header-details-button-try-try {
           width: 250px;
           background: transparent;
           height: 70px;
           outline: none;
           color: #fff;
           font-family: -apple-system, BlinkMacSystemFont, sans-serif;
           font-size: 26px;
           text-decoration: none;
           display: block;
           margin: 0 auto;
           display: inline-block;
           padding: 15px 0 0px 0;
           text-align: center;
           background-color: #9524ba;
       }

       .header-details-button-try-try:hover {
           width: 250px;
           background: transparent;
           height: 70px;
           outline: none;
           color: #fff;
           text-decoration: none;
           display: block;
           margin: 0 auto;
           display: inline-block;
           padding: 15px 0 0px 0;
           text-align: center;
           background-color: #6a1686;
           font-family: -apple-system, BlinkMacSystemFont, sans-serif;
           font-size: 26px;
       }


       .header-details-button-header {
           width: 250px;
           background-color: #9524ba;
           height: 70px;
           outline: none;
           color: #fff;
           text-decoration: none;
           display: block;
           margin: 0 auto;
           display: inline-block;
           padding: 14px 0 0px 0;
           margin-top: -20px;
           font-family: -apple-system, BlinkMacSystemFont, sans-serif;
           font-size: 26px;
       }

       .header-button {
           margin-bottom: 240px;
           text-align: center;
           display: flex;
           display: -webkit-flex;
  display: -ms-flexbox;
           justify-content: center;
       }


       .header-details-button-header:hover {
           width: 250px;
           background-color: #6a1686;
           height: 70px;
           outline: none;
           color: #fff;
           text-decoration: none;
           display: block;
           display: inline-block;
           padding: 14px 0 0px 0;
           margin-top: -20px;
           font-family: -apple-system, BlinkMacSystemFont, sans-serif;
           font-size: 26px;
       }


       .header-details-button {
           width: 250px;
           background: transparent;
           border: 1px solid #fff;
           height: 70px;
           outline: none;
           color: #fff;
           text-decoration: none;
           display: block;
           margin: 0 auto;
           display: inline-block;
           padding: 14px 0 0px 0;
           margin-top: -20px;
           margin-right: -260px;
           font-family: -apple-system, BlinkMacSystemFont, sans-serif;
           font-size: 26px;
       }

       
       .header-details-button:active,
       .header-details-button:focus {
           background-color: #9524ba;
           transition: background-color 0.5s;
           color: #fff;
           text-decoration: none;
           border: 0px;
           font-family: -apple-system, BlinkMacSystemFont, sans-serif;
           font-size: 26px;
       }
	   
	   .header-details-button:hover{
		    background-color: #9524ba;
           transition: background-color 0.5s;
           color: #fff;
           text-decoration: none;
           border: 0px;
           font-family: -apple-system, BlinkMacSystemFont, sans-serif;
           font-size: 26px;
	   }

       .header-details-button-mdm-system {
           width: 250px;
           background: transparent;
           border: 1px solid #fff;
           height: 70px;
           outline: none;
           color: #fff;
           font-family: -apple-system, BlinkMacSystemFont, sans-serif;
           font-size: 26px;
           text-decoration: none;
           display: block;
           margin: 0 auto;
           display: inline-block;
           padding: 14px 0 0px 0;
           margin-top: 70px;
           margin-right: -120px;
       }

       .header-details-button-mdm-system:hover {
           background-color: #9524ba;
           transition: background-color 0.5s;
           color: #fff;
           text-decoration: none;
           border: 0px;
       }

       .header-details-button:hover~.header-details-button-header {
           background: transparent;
           border: 1px solid #fff;
       }

       #nav-btns {
           position: absolute;
           width: 100%;
           bottom: 20px;
           padding: 0;
           margin: 0;
           text-align: center;
       }



       .slide-nav-btn {
           background: transparent;
           border: 1px solid #acacac;
           width: 15px;
           height: 15px;
       }

       .slide-nav-btn:hover {
           background: #acacac;
       }

       .main-page-about-item-title-end {
           color: #000;
           margin: 15px 0 30px 0;
           font-family: -apple-system, BlinkMacSystemFont, sans-serif;
           font-weight: bold;
           text-transform: uppercase;
       }

       .main-page-about-item-title-end-1 {
           color: #000;
           margin: 40px 0 30px 0;
           font-family: -apple-system, BlinkMacSystemFont, sans-serif;
           font-weight: bold;
           text-transform: uppercase;
       }


       @media screen and (max-width: 1067px) {
           .header-details-button,
           .header-details-button-header {
              width: 200px;
    background: transparent;
    border: 1px solid #fff;
    height: 50px;
    outline: none;
    color: #fff;
    font-size: 17px !important;
    text-decoration: none;
    display: block;
    display: inline-block;
    padding: 11px 0 0px 0;
    margin-right: 10px;
    margin-left: 5%;
           }

           .header-details-button-header:hover {
               width: 200px;
	       height: 50px;
	       padding: 11px 0 0px 0;
 	       font-size: 17px;
               
           }

          .slick-prev, .slick-next{
            display: none !important;
          }



           .description-mdm {
               color: #ffffff;
               text-align: justify;
               font-size: 20px;
               float: right;
               line-height: 30px;
               font-weight: 100;
               width: auto;
               font-family: 'Mayriad pro';
           }

           .header-details-button-mdm-system {
               width: 200px;
               background: transparent;
               border: 1px solid #fff;
               height: 50px;
               outline: none;
               color: #fff;
               font-size: 20px;
               text-decoration: none;
               display: block;
               margin: 0 auto;
               padding: 9px 0 0px 0;
           }

           .title-block {
               margin-top: 40px !important;
           }

           #right-image {
               display: none;
           }
           .main-page-about-item-title-end-1 {
               margin: 15px 0 30px 0;
           }
       }

       @media screen and (max-width: 1002px) {
           #block-connect-anything {
               display: none;
           }

           .logo-icon {
               width: 60px;
               top: -80px;
               display: none;
           }

           .moving-line {
               width: 6px;
               height: 100px;
               background-size: 100%;
               display: none;
           }

           .animating-lines {
               display: none;
           }
       }

       @media screen and (max-width: 778px) {
           .animating-lines {
               display: none;
           }

           .section-title-black-companies {
               font-size: 30px;
           }

           .section-title-black-4-block-so {
               font-size: 30px !important;
           }
       }

       @media screen and (max-width: 778px) {

           .description-1-icon,
           .description-2-icon,
           .description-3-icon,
           .description-4-icon,
           .description-5-icon,
           .description-6-icon,
           .description-7-icon {
               display: none;
           }
           .right {
               display: none;
           }
       }

       @media screen and (max-width: 600px) {
           .header-details-button,
           .header-details-button-header {
                  width: 120px;
					background: transparent;
					border: 1px solid #fff;
					height: 50px;
					outline: none;
					color: #fff;
					font-size: 10px;
					text-decoration: none;
					display: block;
					display: inline-block;
					padding: 14px 0 0px 0;
					margin-top: -20px;
					margin-right: 10px;
					margin-left: 5%;
					font-size: 12px !important;
           }

           #go-top {
               position: fixed;
               bottom: 25px;
               right: 10px;
               cursor: pointer;
               display: none;
               width: 30px;
               height: 30px;
               background: #c0c0c0;
               font-size: 16px;
               border-radius: 50%;
               color: white;
               text-decoration: none;
               z-index: 100;
               padding-left: 11px;
               padding-right: 13px;
               margin-right: 25px;
           }
		   
		    #go-top a{
               text-align: center;
           }
		
           .form-image {
    	background: white;
	background-image: none !important;
}


           .header-details-button:hover,
           .header-details-button:active,
           .header-details-button:focus {
               background-color: #9524ba;
               transition: background-color 0.5s;
               color: #fff;
               text-decoration: none;
               border: 0px;
               font-family: -apple-system, BlinkMacSystemFont, sans-serif;
               font-size: 10px;
           }
		
	

           .header-details-button-header:hover {
               background-color: #9524ba;
               width: 120px;
               background: transparent;
               border: 1px solid #fff;
               height: 50px;
               outline: none;
               color: #fff;
               font-size: 12px !important;
               text-decoration: none;
               display: block;
               display: inline-block;
               padding: 14px 0 0px 0;
               margin-top: -20px;
               margin-right: 10px;
               margin-left: 5%;
           }
       }

       @media screen and (max-width: 336px) {
           .row {
               margin-left: -15px !important;
               margin-right: -15px !important;
           }

           .header-details-button,
           .header-details-button-header {

               margin-top: -60px;
           }
       }

       @media screen and (max-width: 655px) {

           .section-title-black-grey-2 {
               font-size: 40px;
               line-height: 40px;
           }

           .description-mdm {
               font-size: 15px;
               font-weight: 22px;
           }
       }

       .oneImg {
           background-position: -60px -30px;
           top: 50px;
           left: 100px;
       }

       .solves-your {
           display: block;
           margin: 0 auto;
	   margin-top: 20vh;
       }